<div class="hashtag-selection-panel">
	<ul class="nav nav-tabs select-pool--container">
	  <li role="presentation" ng-class="{ active: fromPool == 'tweets' }" ng-click="setPool('tweets')"><a href="#">By Tweet</a></li>
	  <li role="presentation" ng-class="{ active: fromPool == 'hashtags' }" ng-click="setPool('hashtags')"><a href="#">From all hashtags</a></li>
	</ul>

	<hr>

	<div class="select-from-tweets--container" ng-show="fromPool == 'tweets'">
		<ul class="nav nav-tabs">
		  <li role="presentation" ng-class="{ active: tweetsBy == 'author' }" ng-click="setTweetBy('author')"><a href="#">By Author</a></li>
		  <li role="presentation" ng-class="{ active: tweetsBy == 'date' }" ng-click="setTweetBy('date')"><a href="#">By Date</a></li>
		</ul>

		<div class="tweets-selection--container selection--container" ng-show="tweetsBy == 'author' && authors != null">
			<h4 >Authors</h4>
			<div class="options--container">
				<table class="table">
				    <tbody>
				        <tr ng-class="{ active: selectedAuthor == row[0] }" ng-repeat="row in authors">
				            <td ng-repeat="col in row">{{col}}</td>
				            <td ng-click="$parent.getTweetsByAuthor(row[0])">
				            	<button type="button" class="btn btn-default">Select</button>
				            </td>
				        </tr>    
				    </tbody>
				    <thead>
					    	<tr>
				    			<th>Name</th>
				    			<th>Number of tweets</th>
				    			<th></th>
				    		</tr>
				    </thead>
				</table>
			</div>
			<hr>
		</div>
	</div>

	<div class="select-from-hashtags--container" ng-show="fromPool == 'hashtags'">
		<ul class="nav nav-tabs">
		  <li role="presentation" ng-class="{ active: hashtagsBy == 'popularity' }" ng-click="setHashtagsBy('popularity')"><a href="#">Most Popular</a></li>
		  <li role="presentation" ng-class="{ active: hashtagsBy == 'text' }" ng-click="setHashtagsBy('text')"><a href="#">Search</a></li>
		</ul>

		<div class="well"  ng-show="hashtagsBy == 'text'">
	    <div class="input-group">
	      <input type="text" class="form-control" placeholder="hashtag" ng-model="searchWord">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button" ng-click="getHashtagsBySearch(searchWord)">Search</button>
	      </span>
	    </div><!-- /input-group -->
	  </div>
	</div>

	<div class="tweets-selection--container selection--container" ng-show="fromPool == 'tweets' && tweets != null">
		<h4>Tweets</h4>
		<div class="options--container">
			<table class="table">
			    <tbody>
			        <tr ng-repeat="row in tweets">
			            <td ng-class="{ active: selectedTweet == row[3] }" ng-repeat="col in row | limitTo:3">{{col}}</td>
			            <td ng-click="$parent.getHashtagsByTweet(row[3])">
				            	<button type="button" class="btn btn-default">Select</button>
				            </td>
			        </tr>    
			    </tbody>
			    <thead>
				    	<tr>
			    			<th>Author</th>
			    			<th>Text</th>
			    			<th>Date</th>
			    			<th></th>
			    		</tr>
			    </thead>
			</table>
		</div>
	</div>

	<div class="hashtags-selection--container selection--container" ng-show="hashtags != null">
		<h4>Hashtags</h4>
		<div class="options--container">
			<table class="table">
		    <tbody>
		        <tr ng-repeat="row in hashtags">
		            <td ng-class="{ active: selectedHashtag == row }" ng-repeat="col in row">{{col}}</td>
		        </tr>    
		    </tbody>
		    <thead>
			    	<tr>
		    			<th>Text</th>
		    			<th>Times used</th>
		    		</tr>
		    </thead>
		</table>
		</div>
	</div>
</div>