.select-pool--container {
	margin-bottom: 30px;
}

table tr.active {
	background-color: #c4e3f3;
}

.selection--container .options--container{
	max-height: 300px;
	overflow: auto;
}

.usage--container img {
	width: 100%;
}

.selection--container .nav {
	margin-bottom: 30px;
}

.date-selection {
	height: 100px;
}

.options--container td {
	max-width: 148px;
	word-break: break-all;
}
