@media (min-width: 768px) {
	.navbar div.navbar-collapse {
		float: right;
	}
}

#main-wrapper {
	padding-top: 55px;
}

.view-wrapper {
	padding: 30px 20px; // page padding
}

@media(max-width: 480px) {
	.view-wrapper {
		padding: 20px 5px; // less padding on mobile
	}
}

#clustering-container {
max-width: 1400px;
height: 900px;
margin: auto;
}
  